<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTBSYw8IG1Rdc047NbEbb2lzsJj_UzBGg</string>
	<key>GCM_SENDER_ID</key>
	<string>850803122628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-app-61057</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-app-61057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850803122628:ios:7e02a136147f5e726f8491</string>
</dict>
</plist>